        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background: #262626;
            font-family: 'CollegeFont', sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            opacity: 0;
            animation: fadeIn 0.3s ease-in-out forwards;
          }
      
          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: translateY(-50px);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
          }


        h1{
            font-family: 'Fjalla One', sans-serif;                          
        }

        #aboutas{
            font-family: 'Freich', sans-serif;
        }
        h2{
            font-family: 'Freich', sans-serif;
            
        }

        h5{
            font-family: 'Freich', sans-serif;
                                                
        }

        #desc{
            font-family: 'Noto Sans Syriac Eastern', sans-serif;
                                                         
                                                
        }

        #interest{
            font-family: 'Freich', sans-serif;
                                                
        }
        #contactchnge{
            font-family: 'Noto Serif Toto', sans-serif;          
                                                
        }
        #contactchnge a {
            color: rgb(63, 63, 63);
          }

        label{
            font-family: 'ADLaM Display', sans-serif;
                                                
                                                
        }
        #navchange{
            font-family: 'Albert Sans', sans-serif;
                                                
                                                
        }

        p{
            font-family: 'Noto Kufi Arabic', sans-serif;
                                                                                   
        }
        #profilepic {
            border: 1px solid black;
            margin-left: 20px;
            transition: transform 0.3s ease-in-out;
          }
      
          #profilepic:hover {
            transform: scale(1.04); 
          }

        main {
            flex: 1 0 auto;
            background-color: #ffc8dd;
        }

        .red-slash {
            color: red;
        }

        .namecenter {
            text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 39px;
        }

        .titledp {
            font-family: 'CollegeFont', sans-serif;
        }

        .navy {
            background-color: #ffffff;
        }

        header {
            background: no-repeat center center;
            background-size: cover;
            color: white;
        }

        .color-overlay {
            background-color: rgba(0, 0, 0, 0.4);
            min-height: 60vh;
        }

        .singleCol {
            max-width: 750px;
        }

        footer {
            background-color: #3a3a3a;
            flex-shrink: 0;
        }

        footer a {
            color: white;
        }

        footer a:hover {
            color: #dfdfdf;
        }


        @media (max-width: 767.98px) {
            .color-overlay {
                min-height: 30vh;
            }
        }